<% content_for :page_title do %>
  <%= Spree.t("sm.about") %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%#= link_to_edit @about, :icon => 'icon-edit', :id => 'admin_new_about' %>
	<% if @edit_about_url %>
	      <%= button_link_to Spree.t(:edit), @edit_about_url, { :icon => 'icon-plus', :id => 'admin_new_product' } %>
	<% else %>
	      <%= button_link_to Spree.t(:edit), new_admin_about_url, { :icon => 'icon-plus', :id => 'admin_new_product' } %>
	<% end %>
  </li>
<% end if can? :new, Spree::About.new %>

<%#= debug(@about)%>

<% if @about %>
    <h2><%= @about.try(:title) %></h2>

	<p class="review_title_field">
    <%#= Spree.t(:title) %>
    <%= @about.text %>
	</p>
  </p>
<% end %>