<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back), collection_url, :icon => 'icon-arrow-left' %></li>
  <% if can?(:create, Spree::Contact) %>
    <li id="new_product_link">
      <%= button_link_to Spree.t(:add), new_object_url, { :icon => 'icon-plus', :id => 'admin_new_product' } %>
    </li>
  <% end %>
<% end %>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @contact } %>

<fieldset data-hook="new_product">

  <legend align="center"><%= Spree.t(:edit_contact) %></legend>

  <%= form_for([:admin, @contact]) do |f| %>
      <p class="contact_image_name_field">
        <%#= f.label :imageName %>
        <%#= f.text_field :imageName, :class => 'fullwidth title' %>
        <%#= f.error_message_on :imageName %>
      </p>
      <p class="key">
        <%= f.label :key %>
        <%= f.text_field :key, :class => 'fullwidth title'%>
        <%= f.error_message_on :key %>
      </p>
      <p class="value">
        <%= f.label :value %>
        <%= f.text_field :value, :class => 'fullwidth title'%>
        <%= f.error_message_on :value %>
      </p>
      <p class="prefix">
        <%= f.label :prefix %>
        <%= f.text_field :prefix, :class => 'fullwidth title' %>
        <%= f.error_message_on :prefix %>
      </p>
      <p class="contact_type">
        <%= f.label :contact_type %>
        <%= f.text_field :contact_type, :class => 'fullwidth title' %>
        <%= f.error_message_on :contact_type %>
      </p>
      <br>
      <p class="form-buttons">
        <%= button t("update") %> <%= t('or') %> <%= link_to t('cancel'), collection_url %>
      </p>
  <% end %>
</fieldset>