<div class="content-header  page-header">
  <div class="row">
    <h1 class="col-sm-12">
      <a href="<%=admin_contacts_path%>"><%=Spree.t("spree.sm.listing_contacts")%></a>/<%=Spree.t("spree.sm.new_contact")%>
    </h1>
  </div>
</div>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @item } %>

<%= form_for [:admin, @item], :html => { :class => 'form-horizontal', multipart: true } do |f| %>
    <%= render :file => 'spree/admin/contacts/_form' , :locals => { :f => f } if @item %>
    <%= render :partial => 'spree/admin/shared/new_resource_links' %>
<% end %>
