<div class="content-header  page-header">
  <div class="row">
    <h1 class="col-sm-12">
      <a href="<%=edit_admin_about_path @item%>"><%=Spree.t("spree.sm.edit_about")%></a>/<%=Spree.t("spree.sm.about")%>
    </h1>
  </div>
</div>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @item } %>

<%= form_for [:admin, @item], :html => { :class => 'form-horizontal', multipart: true } do |f| %>
    <%= render :file => 'spree/admin/abouts/_form' , :locals => { :f => f } if @item %>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
<% end %>
