<% content_for :page_title do %>
  <%= Spree.t("sm.news") %>
<% end %>
<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t("sm.add_news"), new_admin_news_url, :icon => 'icon-plus', :id => 'admin_new_order' %>
  </li>
<% end if can? :edit, Spree::News.new %>

<div id="new_product_wrapper" data-hook></div>

<% if @news.any? %>
<table class="index" id="listing_products">
    <colgroup>
       <col style="width: 5%;">
       <col style="width: 15%;">
       <col style="width: 30%;">
      <col style="width: 10%;">
      <col style="width: 10%;">
      <col style="width: 15%;">
      <col style="width: 20%;">
    </colgroup>
    <thead>
      <tr data-hook="admin_products_index_headers">
        <th>#</th>
        <th> <%=Spree.t("sm.title")%></th>
        <th> <%=Spree.t("sm.text")%></th>
		<th> <%=Spree.t("sm.updated_at")%></th>
        <th> <%=Spree.t("sm.created_at")%></th>
        <th> <%=Spree.t("sm.image")%></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
		<%- @item.each do |newsItem|%>
		<tr>
			<td><%= newsItem.try(:id) %></td>
			<td><%= link_to newsItem.try(:title), edit_admin_news_path(newsItem) %></td>
            <td class="align-center"><%= newsItem.text %></td>
			<td><%= newsItem.try(:created_at) %></td>
			<td><%= newsItem.try(:updated_at) %></td>
            <td><%= image_tag newsItem.try(:pictures).try(:first).try(:image).try(:url, :thumb) %></td>

          <td class="actions">
            <%= link_to_edit newsItem, :no_text => true, :class => 'edit' if can?(:edit, newsItem)  %>
			&nbsp;
			<%= link_to_delete newsItem, :no_text => true if can?(:delete, newsItem) %>
			&nbsp;
            <%#= link_to_clone newsItem, :no_text => true, :class => 'clone' if can?(:clone, newsItem) %>
            </td>
          </tr>
		<% end %>
		</tbody>
</table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t("sm.no_news_found") %>,
    <%= link_to Spree.t("sm.add_one"), spree.new_admin_news_path %>!
  </div>
<% end %>

