<% content_for :page_title do %>
  <%= Spree.t("sm.new_sync") %>
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t("sm.back_to_sync_list"), collection_url, :icon => 'icon-arrow-left' %></li>
  <% if can?(:create, Spree::Sync) %>
    <li id="new_product_link">
      <%= button_link_to Spree.t("sm.new_sync"), new_object_url, { :icon => 'icon-plus', :id => 'admin_new_product' } %>
    </li>
  <% end %>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @newsItem } %>

<fieldset data-hook="new_product">
	<legend align="center"><%= Spree.t("sm.new_sync") %></legend>
	<%= render 'form', { :admin => @newsItem } %>
</fieldset>