<%#= render :partial => 'spree/shared/error_messages', :locals => { :target => admin } %>
<%#= render :partial => 'spree/shared/error_messages', :target => admin %>

<%= form_for admin, :url => admin_sms_path, :html => {:method => :post} do
|f| %>

    <p class="review_text_field">
    <%= f.label :from %> <span class="required">*</span><br />
    <%= f.text_field :from, :class => 'fullwidth from' %>
    </p>
    <p class="review_title_field">
    <%= f.label :to %> <span class="required">*</span><br />
    <%= f.text_area :to, :class => 'fullwidth to' %>
    </p>
    <p class="review_text_field">
    <%= f.label :text %> <span class="required">*</span><br />
    <%= f.text_area :text, {:rows => 10, :class => 'fullwidth text'} %>
    </p>

    <p class="review_text_field">
      <%= f.label :userapp %> <span class="required">*</span><br />
      <%= f.text_field :userapp, :class => 'fullwidth userapp' %>
    </p>

    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button Spree.t('actions.create'), 'icon-ok' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= link_to_with_icon 'icon-remove', Spree.t('actions.cancel'), collection_url, :class => 'button' %>
    </div>

<% end %>


